 <mat-toolbar  class="nav1">
     <img src="assets/images/Rectangle.png" width="500px" height="165px" alt="" style="margin-left: -15px;">
    <span class="bt"><img src="assets/images/logo.png" style="padding: 5px;"> CRICKET</span>
    <div class="navb"></div>
    <a routerLink="signup" mat-raised-button class="sb">Signup</a>

</mat-toolbar>

<mat-toolbar  class="mat-elevation-z6">
    <div class="navb"></div>
    <a routerLink="home" mat-button>Home</a>
    <a routerLink="about" mat-button>About</a>
    <a routerLink="player" mat-button>Player</a>
    <a routerLink="shop" mat-button>Shop</a>
    <a routerLink="blogs" mat-button>Blogs</a>
    <a routerLink="contact" mat-button>Contact</a>
    <a routerLink="#" mat-button></a>

</mat-toolbar>

<!-- <div class="hero">
    <img src="assets\images\hero.jpg" width="1520" height="750">
</div>

<div>
    <a href="/src/app/home/home.component.html" class="get">Get Started...</a>
</div> -->


